@model ChatonsBDD_B31.Models.Injection

@{
    ViewData["Title"] = "Injection";
}

<div>
    <h4>Détails de l'injection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.recall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.recall)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vaccine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vaccine.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
